*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lovelace";
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #503C3C;
  background-color: #EBE6E6;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 147rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.2077294686vw;
    -webkit-text-size-adjust: none;
  }

  body {
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 4rem;
    width: 100%;
  }
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 26.6rem;
  height: 7.4rem;
  padding: 0 3.5rem;
  border-radius: 100rem;
  background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%);
  cursor: pointer;
}
.button--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2.5rem;
}
.button--center .button__icon {
  margin-left: 1rem;
}
.button--medium {
  padding: 0 2.5rem 0 4rem;
}
.button--medium .button__icon {
  margin-right: 1rem;
}
.button--transparent {
  padding: 0 4rem;
  border: 1px solid #7E4852;
  background: transparent;
}
.button--transparent .button__price,
.button--transparent .button__text {
  color: #503C3C;
}
.button__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}
.button__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "FoglihtenNo06";
  font-size: 3.1rem;
  color: #fff;
}
.button__price:before {
  content: "$";
  margin-right: 0.7rem;
  font-size: 1.9rem;
}
.button__text {
  margin-top: 0.6rem;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.button__arrow {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 1rem;
}
.button__arrow--big {
  width: 6.5rem;
}
.button__arrow--medium {
  width: 4.7rem;
}
.button__arrow--small {
  width: 3.6rem;
}
.button__icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 3rem;
  height: 3rem;
}

.slider-nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider-nav--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-nav--horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-nav__pagination-block--normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-nav__pagination-block--normal .slider-nav__pagination-separator {
  width: 6.3rem;
  margin: 0 2rem;
  background-color: #5F5D5D;
}
.slider-nav__pagination-block--normal .swiper-pagination-current,
.slider-nav__pagination-block--normal .swiper-pagination-total {
  margin-top: 0.8rem;
  font-size: 2.4rem;
  color: white;
}
.slider-nav__pagination-block--diagonal .slider-nav__pagination-separator {
  position: relative;
  top: -0.5rem;
  left: 0.5rem;
  width: 6.5rem;
  background-color: #B8ACB0;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.slider-nav__pagination-block--diagonal .swiper-pagination-current,
.slider-nav__pagination-block--diagonal .slider-nav__current {
  font-size: 2.8rem;
}
.slider-nav__pagination-block--diagonal .swiper-pagination-total,
.slider-nav__pagination-block--diagonal .slider-nav__total {
  margin-left: 4.5rem;
  font-size: 2rem;
  color: #89767D;
}
.slider-nav__pagination-block--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-nav__pagination-block--vertical .slider-nav__pagination-separator {
  width: 4.1rem;
  margin: 1rem 0;
  background-color: #C6BCBF;
}
.slider-nav__pagination-block--vertical .swiper-pagination-current,
.slider-nav__pagination-block--vertical .slider-nav__current {
  margin-bottom: -0.6rem;
  font-size: 2.2rem;
}
.slider-nav__pagination-block--vertical .swiper-pagination-total,
.slider-nav__pagination-block--vertical .slider-nav__total {
  font-size: 1.6rem;
  color: #89767D;
}
.slider-nav__pagination-block--circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-nav__pagination-block--circle .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0 !important;
  border-radius: 100%;
  background-color: #503C3C;
  opacity: 0.2;
  cursor: pointer;
}
.slider-nav__pagination-block--circle .swiper-pagination-bullet:not(:last-child) {
  margin-right: 1rem;
}
.slider-nav__pagination-block--circle .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider-nav__pagination-separator {
  height: 1px;
}
.slider-nav__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-nav__arrows--separator .slider-nav__arrow:first-child {
  margin-right: 0;
}
.slider-nav__arrow {
  width: 6.5rem;
  height: 1rem;
  cursor: pointer;
}
.slider-nav__arrow:first-child {
  margin-right: 2rem;
}
.slider-nav__arrow--vertical {
  margin: 0;
  width: 1rem;
  height: 6.5rem;
}
.slider-nav__arrow--vertical:first-child {
  margin-right: 0;
}
.slider-nav__arrow-separator {
  height: 3.4rem;
  width: 1px;
  margin: 0 2rem;
  background-color: #5F5D5D;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 100%;
  background-color: #C6B5B5;
}
.like.active {
  background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%), linear-gradient(0deg, #A23146, #A23146);
}
.like.active path {
  fill: #fff;
}
.like__icon {
  width: 2.4rem;
  height: 2rem;
}
.like__icon path {
  stroke: #fff;
}

.link-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link-more__text {
  margin-right: 2rem;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.link-more__arrow {
  width: 6.4rem;
  height: 1rem;
}

.preview {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.preview__like {
  position: absolute;
  right: 3rem;
  top: -2rem;
  z-index: 1;
  width: 5.4rem;
  height: 5.4rem;
}
.preview__like > svg {
  width: 2rem;
  height: 1.6rem;
}
.preview__content {
  display: block;
  width: 33rem;
  padding: 2rem 2rem 4rem 2rem;
  background-color: #FCF7F7;
}
.preview__img-box {
  width: 100%;
  height: 22.8rem;
  margin-bottom: 2.2rem;
  border-radius: 100rem 100rem 0 0;
  overflow: hidden;
}
.preview__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview__data-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 0;
  margin-bottom: 4rem;
  border-top: 1px solid #B8ACB0;
  border-bottom: 1px solid #B8ACB0;
}
.preview__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.preview__country > svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
}
.preview__category {
  font-family: "Raleway";
  font-size: 1.6rem;
  color: #89767D;
}
.preview__author {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.preview__title {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}
.preview__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "FoglihtenNo06";
  font-size: 2.4rem;
  color: #A83248;
}
.preview__price:before {
  content: "$";
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.preview-small {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.preview-small__like {
  position: absolute;
  right: 2rem;
  top: -3rem;
  z-index: 1;
  width: 5.4rem;
  height: 5.4rem;
}
.preview-small__like > svg {
  width: 2rem;
  height: 1.6rem;
}
.preview-small__content {
  display: block;
  width: 25.3rem;
  padding: 2.6rem;
  background-color: #FCF7F7;
}
.preview-small__img-box {
  width: 20.1rem;
  height: 20.1rem;
  margin: 0 auto 3.3rem auto;
  border-radius: 100%;
  overflow: hidden;
}
.preview-small__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-small__title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
}
.preview-small__author {
  text-align: center;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}

.preview-big {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: #FCF7F7;
}
.preview-big__like {
  position: absolute;
  right: 3rem;
  top: -2rem;
}
.preview-big__content {
  display: block;
  width: 43.5rem;
  padding: 2rem 2rem 4rem 2rem;
  border: 1px solid #B8ACB0;
  background-color: #FCF7F7;
}
.preview-big__img-box {
  width: 100%;
  height: 24.4rem;
  margin-bottom: 2.2rem;
  border-radius: 100rem 100rem 0 0;
  overflow: hidden;
}
.preview-big__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-big__data-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 2rem;
  margin: 0 -2rem 4rem -2rem;
  border-top: 1px solid #B8ACB0;
  border-bottom: 1px solid #B8ACB0;
}
.preview-big__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 1.6rem;
  color: #89767D;
}
.preview-big__country > svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
}
.preview-big__category {
  font-family: "Raleway";
  font-size: 1.6rem;
  color: #89767D;
}
.preview-big__author {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.preview-big__title {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
}
.preview-big__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "FoglihtenNo06";
  font-size: 3.1rem;
  color: #A83248;
}
.preview-big__price:before {
  content: "$";
  margin-right: 0.5rem;
  font-size: 1.9rem;
}

.preview-wide {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.preview-wide__like {
  position: absolute;
  right: 5.6rem;
  top: -2.2rem;
}
.preview-wide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96rem;
  padding: 3rem;
  background-color: #FCF7F7;
}
.preview-wide__picture-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 33.7rem;
}
.preview-wide__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preview-wide__img-box {
  width: 100%;
  height: 24.4rem;
  border-radius: 100rem 100rem 0 0;
  overflow: hidden;
}
.preview-wide__img-box:first-child {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}
.preview-wide__img-box:nth-child(n+2) {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  min-width: 10.3rem;
  max-width: 10.3rem;
  height: 6rem;
  margin-top: 1.5rem;
  border-radius: 0;
}
.preview-wide__img-box:nth-child(3n+3) {
  margin: 1.5rem auto 0 auto;
}
.preview-wide__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.preview-wide__data-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}
.preview-wide__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 1.6rem;
  color: #89767D;
}
.preview-wide__country > svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.5rem;
}
.preview-wide__category {
  font-family: "Raleway";
  font-size: 1.6rem;
  color: #89767D;
}
.preview-wide__info-block {
  width: 40rem;
  margin-right: 8rem;
}
.preview-wide__author {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.preview-wide__title {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.6rem;
}
.preview-wide__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "FoglihtenNo06";
  font-size: 3.1rem;
  color: #A83248;
}
.preview-wide__price:before {
  content: "$";
  margin-right: 0.5rem;
  font-size: 1.9rem;
}
.preview-wide__arrow {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  width: 6.4rem;
  height: 1rem;
}

@media (max-width: 48em) {
  .button {
    min-width: 44.4rem;
    height: 12.6rem;
    padding: 0 6.6rem;
  }
  .button--center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 2.5rem;
  }
  .button--center .button__icon {
    margin-left: 1rem;
  }
  .button--medium {
    padding: 0 2.5rem 0 4rem;
  }
  .button--medium .button__icon {
    margin-right: 1rem;
  }
  .button--transparent {
    padding: 0 4rem;
    border: 1px solid #7E4852;
    background: transparent;
  }
  .button--transparent .button__price,
.button--transparent .button__text {
    color: #503C3C;
  }
  .button__content {
    margin-right: 4rem;
  }
  .button__price {
    font-size: 5.4rem;
  }
  .button__price:before {
    margin-right: 0.8rem;
    font-size: 3.8rem;
  }
  .button__text {
    margin-top: 0.6rem;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
  }
  .button__arrow {
    height: 2rem;
  }
  .button__arrow--big {
    width: 13rem;
  }
  .button__arrow--medium {
    width: 4.7rem;
  }
  .button__arrow--small {
    width: 3.6rem;
  }
  .button__icon {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 3rem;
    height: 3rem;
  }

  .slider-nav__pagination-block--normal .slider-nav__pagination-separator {
    width: 12rem;
    margin: 0 3rem;
  }
  .slider-nav__pagination-block--normal .swiper-pagination-current,
.slider-nav__pagination-block--normal .swiper-pagination-total {
    margin-top: 1rem;
    font-size: 3.8rem;
  }
  .slider-nav__pagination-block--diagonal .slider-nav__pagination-separator {
    position: relative;
    top: -0.5rem;
    left: -1rem;
    width: 12rem;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .slider-nav__pagination-block--diagonal .swiper-pagination-current,
.slider-nav__pagination-block--diagonal .slider-nav__current {
    font-size: 3.8rem;
  }
  .slider-nav__pagination-block--diagonal .swiper-pagination-total,
.slider-nav__pagination-block--diagonal .slider-nav__total {
    margin-left: 6rem;
    font-size: 3.2rem;
  }
  .slider-nav__pagination-block--circle .swiper-pagination-bullet {
    width: 1.6rem;
    height: 1.6rem;
  }
  .slider-nav__pagination-block--circle .swiper-pagination-bullet:not(:last-child) {
    margin-right: 2.6rem;
  }
  .slider-nav__arrow {
    width: 9.2rem;
    height: 2rem;
  }
  .slider-nav__arrow-separator {
    height: 6.8rem;
    margin: 0 4rem;
  }

  .like {
    width: 12rem;
    height: 12rem;
  }
  .like__icon {
    width: 4.4rem;
    height: 3.6rem;
  }

  .link-more__text {
    margin-right: 4rem;
    font-size: 3.4rem;
  }
  .link-more__arrow {
    width: 9.2rem;
    height: 2rem;
  }

  .preview-big {
    padding: 1.6rem;
  }
  .preview-big__like {
    right: 4.6rem;
    top: -5.6rem;
  }
  .preview-big__content {
    width: 100%;
    padding: 3rem 3rem 5rem 3rem;
  }
  .preview-big__img-box {
    height: 46rem;
    margin-bottom: 3.4rem;
  }
  .preview-big__data-block {
    padding: 1.6rem 3rem;
    margin: 0 -3rem 6rem -3rem;
  }
  .preview-big__country {
    font-size: 3.2rem;
  }
  .preview-big__country > svg {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 0.8rem;
  }
  .preview-big__category {
    font-size: 3.2rem;
  }
  .preview-big__author {
    margin-bottom: 3rem;
    font-size: 3.2rem;
  }
  .preview-big__title {
    margin-bottom: 3rem;
    font-size: 3.8rem;
  }
  .preview-big__price {
    font-size: 5.4rem;
  }
  .preview-big__price:before {
    margin-right: 1.4rem;
    font-size: 3.8rem;
  }

  .preview-wide__like {
    right: 4.6rem;
    top: -5.6rem;
  }
  .preview-wide__content {
    display: block;
    width: 100%;
    padding: 3rem 3rem 5rem 3rem;
  }
  .preview-wide__picture-block {
    width: 100%;
  }
  .preview-wide__image-block {
    margin-bottom: 2rem;
  }
  .preview-wide__img-box {
    height: 46rem;
  }
  .preview-wide__img-box:nth-child(n+2) {
    min-width: 20rem;
    max-width: 20rem;
    height: 14rem;
    margin-top: 3rem;
  }
  .preview-wide__img-box:nth-child(3n+3) {
    margin: 3rem auto 0 auto;
  }
  .preview-wide__data-block {
    padding: 1.6rem 0;
    margin: 0 0 6rem 0;
  }
  .preview-wide__country {
    font-size: 3.2rem;
  }
  .preview-wide__country > svg {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 0.8rem;
  }
  .preview-wide__category {
    font-size: 3.2rem;
  }
  .preview-wide__info-block {
    width: 100%;
    margin-right: 0;
  }
  .preview-wide__author {
    margin-bottom: 3rem;
    font-size: 3.2rem;
  }
  .preview-wide__title {
    margin-bottom: 3rem;
    font-size: 3.8rem;
  }
  .preview-wide__price {
    font-size: 5.4rem;
  }
  .preview-wide__price:before {
    margin-right: 1.4rem;
    font-size: 3.8rem;
  }
}
.header {
  padding: 2.5rem 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: block;
  width: 19.1rem;
  height: 4.8rem;
}
.header__logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-item:not(:last-child) {
  margin-right: 4rem;
}
.header__menu-link {
  font-family: "Raleway";
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button:not(:last-child) {
  margin-right: 2.5rem;
}
.header__button > svg {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 48em) {
  .header {
    padding: 3rem 0;
  }
  .header__burger {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    display: block;
    width: 6.4rem;
    height: 4.4rem;
  }
  .header__burger > span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #503C3C;
    opacity: 1;
    -webkit-transition: 0.2s ease opacity;
    transition: 0.2s ease opacity;
  }
  .header__burger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #503C3C;
    -webkit-transition: 0.3s ease transform;
    transition: 0.3s ease transform;
  }
  .header__burger:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #503C3C;
    -webkit-transition: 0.3s ease transform;
    transition: 0.3s ease transform;
  }
  .header__burger.active > span {
    opacity: 0;
  }
  .header__burger.active:before {
    -webkit-transform: translate(0, 2.1rem) rotate(45deg);
            transform: translate(0, 2.1rem) rotate(45deg);
  }
  .header__burger.active:after {
    -webkit-transform: translate(0, -2.1rem) rotate(-45deg);
            transform: translate(0, -2.1rem) rotate(-45deg);
  }
  .header__logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 21.8rem;
    height: 13.4rem;
    margin: 0 5rem;
  }
  .header__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .header__button--search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__button--personal {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .header__button--cart {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .header__button:not(:last-child) {
    margin-right: 0;
  }
  .header__button > svg {
    width: 5.4rem;
    height: 5.4rem;
  }
}
.main-intro {
  margin: 5rem 0 10rem 0;
}
.main-intro__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-intro__title-content {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 25rem;
  margin-top: 8rem;
  margin-right: 5rem;
}
.main-intro__title {
  font-weight: bold;
  font-size: 6rem;
  line-height: 9.5rem;
  text-transform: uppercase;
}
.main-intro__sub-title {
  font-family: "antarcticregular";
  font-size: 6rem;
  line-height: 3rem;
  color: #A83248;
}
.main-intro__slider {
  margin-right: -22.5rem;
  padding-bottom: 10rem;
}
.main-intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (min-width: 48.01em) {
  .main-intro__slide.swiper-slide-next, .main-intro__slide.swiper-slide-next + * {
    -webkit-transform: scale(0.7) translateX(-15rem);
            transform: scale(0.7) translateX(-15rem);
  }
}
.main-intro__img-box {
  position: relative;
  margin: auto 5rem auto 0;
}
.main-intro__img-box:before {
  content: "";
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: -1;
  display: block;
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
          box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
}
.main-intro__img-box:after {
  content: "";
  position: absolute;
  left: 10rem;
  top: 10rem;
  z-index: 1;
  display: block;
  width: calc(100% - 20rem);
  height: calc(100% - 20rem);
  -webkit-box-shadow: 0 0 2rem 3px rgba(34, 60, 80, 0.3) inset;
          box-shadow: 0 0 2rem 3px rgba(34, 60, 80, 0.3) inset;
}
.main-intro__img {
  max-width: 70rem;
  max-height: 65rem;
  border: 10rem solid #FCF7F7;
  -o-border-image: url("../../img/img-border1.png") 107 104 95 107 round;
     border-image: url("../../img/img-border1.png") 107 104 95 107 round;
}
.main-intro__slide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 8rem 0;
}
.main-intro__info-content {
  width: 32rem;
}
.main-intro__slide-title {
  font-weight: bold;
  font-size: 2.6rem;
}
.main-intro__slide-desc {
  margin-bottom: 2rem;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.main-intro .main-intro__pagination-bullet {
  position: absolute;
  left: 0;
  bottom: 18rem;
}

@media (max-width: 48em) {
  .main-intro {
    margin: 6rem 0 26rem 0;
  }
  .main-intro__container {
    display: block;
  }
  .main-intro__title-content {
    width: 100%;
    margin-bottom: 4rem;
    text-align: center;
  }
  .main-intro__title {
    font-size: 5.6rem;
    line-height: 7.8rem;
  }
  .main-intro__sub-title {
    font-size: 8rem;
    line-height: 6rem;
  }
  .main-intro__slider {
    margin: 0 -4rem;
  }
  .main-intro__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    padding: 0 4rem;
  }
  .main-intro__img-box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: auto;
  }
  .main-intro__img-box:before {
    content: "";
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: -1;
    display: block;
    width: 80%;
    height: 80%;
    -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
            box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
  }
  .main-intro__img-box--horizontal {
    width: 100%;
    height: 64.4rem;
  }
  .main-intro__img-box--vertical {
    width: 100%;
    height: 85rem;
  }
  .main-intro__slide-info {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 6rem;
    padding: 0;
  }
  .main-intro__info-content {
    width: 100%;
    text-align: center;
  }
  .main-intro__slide-title {
    font-size: 3.8rem;
  }
  .main-intro__slide-desc {
    margin-bottom: 4rem;
    font-size: 3.2rem;
  }
  .main-intro__button {
    margin: 0 auto;
  }
  .main-intro .main-intro__pagination-bullet {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.popular {
  margin-bottom: 16rem;
}
.popular__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}
.popular__title {
  font-weight: bold;
  font-size: 5.2rem;
  text-transform: uppercase;
}
.popular__sub-title {
  font-family: "antarcticregular";
  font-size: 5.9rem;
  line-height: 3rem;
  color: #A83248;
}
.popular__slider {
  margin-bottom: 6rem;
}
.popular__slide {
  padding: 3.3rem 2.6rem;
  border-radius: 100rem 100rem 0 0;
  background-color: #fff;
}
.popular__author-img {
  width: 8.5rem;
  height: 8.5rem;
  margin: 0 auto 3rem auto;
  border-radius: 100%;
  overflow: hidden;
}
.popular__author-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular__author-name {
  display: block;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
}
.popular__data-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  margin-bottom: 3.3rem;
  border-top: 1px solid rgba(184, 172, 176, 0.6);
  border-bottom: 1px solid rgba(184, 172, 176, 0.6);
}
.popular__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 1.7rem;
}
.popular__country > svg {
  width: 1.7rem;
  height: 1.7rem;
  margin-right: 0.6rem;
}
.popular__category {
  font-family: "Raleway";
  font-size: 1.7rem;
}
.popular__qty {
  font-family: "Raleway";
  font-size: 1.7rem;
}
.popular__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular__img-box {
  width: 12.6rem;
  height: 18.6rem;
  border-radius: 100rem;
  overflow: hidden;
}
.popular__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 48em) {
  .popular {
    margin-bottom: 26rem;
  }
  .popular__title-block {
    display: block;
    margin-bottom: 10rem;
  }
  .popular__title-content {
    margin-bottom: 8rem;
  }
  .popular__title {
    font-size: 5.6rem;
  }
  .popular__sub-title {
    font-size: 8rem;
  }
  .popular__slider {
    margin-bottom: 12rem;
    margin-right: -4rem;
  }
  .popular__slide {
    padding: 5rem 3.2rem;
  }
  .popular__author-img {
    width: 13.2rem;
    height: 13.2rem;
    margin: 0 auto 3.8rem auto;
  }
  .popular__author-name {
    font-size: 3.8rem;
  }
  .popular__data-block {
    margin-bottom: 4rem;
  }
  .popular__country {
    font-size: 3.2rem;
  }
  .popular__country > svg {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  .popular__category {
    font-size: 3.2rem;
  }
  .popular__qty {
    font-size: 3.2rem;
  }
  .popular__img-box {
    width: 16.6rem;
    height: 24.4rem;
  }
}
.category-paint {
  position: relative;
  margin-bottom: 16.5rem;
  padding-bottom: 15.5rem;
}
.category-paint:before {
  content: "";
  position: absolute;
  left: 0;
  top: -35rem;
  z-index: -1;
  display: block;
  width: 100%;
  height: calc(100% + 35rem);
  border-radius: 6rem;
  background-color: #343131;
}
.category-paint__title {
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 2.6rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.category-paint__slider {
  margin-bottom: 6rem;
}
.category-paint__slide {
  padding: 2.2rem;
  background-color: #FCF7F7;
}
.category-paint__slide-title-block {
  padding: 2.5rem;
  border: 1px solid rgb(184, 172, 176);
}
.category-paint__slide-title {
  font-weight: bold;
  font-size: 5.2rem;
  line-height: 5rem;
  text-transform: uppercase;
  text-align: center;
}
.category-paint__slide-sub-title {
  font-family: "antarcticregular";
  font-size: 5rem;
  line-height: 3rem;
  text-align: center;
  color: #A83248;
}
.category-paint__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2.5rem;
  border-left: 1px solid rgb(184, 172, 176);
  border-right: 1px solid rgb(184, 172, 176);
  border-bottom: 1px solid rgb(184, 172, 176);
}
.category-paint__slide-text {
  width: 6.5rem;
  padding: 1rem 0;
  border-top: 1px solid rgb(184, 172, 176);
  border-bottom: 1px solid rgb(184, 172, 176);
  font-family: "Raleway";
  font-size: 1.7rem;
  text-align: center;
}
.category-paint__image-block {
  position: relative;
}
.category-paint__img-box {
  width: 43.3rem;
  height: 31.1rem;
  border-radius: 100rem 100rem 0 0;
  overflow: hidden;
}
.category-paint__img-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-paint__img-decor-box {
  position: absolute;
  right: -6rem;
  top: -7rem;
  width: 25rem;
  height: 31.4rem;
}
.category-paint__img-decor-box > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 48em) {
  .category-paint {
    margin-bottom: 22rem;
    padding-bottom: 24rem;
  }
  .category-paint:before {
    top: -52rem;
    height: calc(100% + 52rem);
    border-radius: 0;
  }
  .category-paint__title {
    margin-bottom: 10rem;
    font-size: 3.8rem;
    text-align: left;
  }
  .category-paint__slider {
    margin-right: -4rem;
    margin-bottom: 10rem;
  }
  .category-paint__slide {
    padding: 1.6rem;
  }
  .category-paint__slide-title-block {
    padding: 4rem;
  }
  .category-paint__slide-title {
    font-size: 5.6rem;
  }
  .category-paint__slide-sub-title {
    font-size: 8rem;
  }
  .category-paint__info-block {
    padding: 2rem;
  }
  .category-paint__slide-text {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 3.2rem;
  }
  .category-paint__img-box {
    width: 30rem;
    height: 28rem;
  }
  .category-paint__img-decor-box {
    right: -9rem;
    top: -6rem;
    width: 22rem;
    height: 28rem;
  }
}
.country {
  margin-bottom: 19rem;
}
.country__title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 5.2rem;
  text-transform: uppercase;
  text-align: center;
}
.country__link-more {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6rem;
}
.country__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.country__item {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  position: relative;
  max-width: 45.5rem;
  height: 50.1rem;
  margin-right: 5rem;
  overflow: hidden;
}
.country__item:nth-child(3n+3) {
  margin-right: 0;
}
.country__item:nth-child(n+4) {
  margin-top: 5rem;
}
.country__item--one {
  background-color: #FCF7F7;
}
.country__item--one .country__item-bg {
  color: #A83248;
}
.country__item--one .country__img-box {
  position: absolute;
  left: 10rem;
  top: 5rem;
  width: 30.8rem;
  height: 26.5rem;
}
.country__item--one .country__img-box:before {
  -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(45, 29, 32, 0.7);
          box-shadow: 4rem 4rem 8rem 1rem rgba(45, 29, 32, 0.7);
}
.country__item--one .country__img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.country__item--two {
  background-color: #353535;
}
.country__item--two .country__item-bg {
  color: #545554;
}
.country__item--two .country__item-bg > div:first-child {
  left: 14.5rem;
  top: -1.6rem;
}
.country__item--two .country__item-bg > div:last-child {
  left: auto;
  right: -48.5rem;
  top: 11rem;
  text-align: right;
}
.country__item--two .country__item-bg > div:last-child > div:nth-child(2) {
  margin-left: 0;
  margin-right: 15rem;
}
.country__item--two .country__item-bg > div:last-child > div:nth-child(3) {
  margin-left: 0;
}
.country__item--two .country__img-box {
  position: absolute;
  left: 13rem;
  top: 11.5rem;
  width: 27.5rem;
  height: 27.5rem;
}
.country__item--two .country__img-box:before {
  border-radius: 100%;
  -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(7, 9, 6, 0.7);
          box-shadow: 4rem 4rem 8rem 1rem rgba(7, 9, 6, 0.7);
}
.country__item--two .country__img {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  overflow: hidden;
}
.country__item--two .country__item-sub-title {
  color: #686868;
}
.country__item--two .country__item-name {
  color: #fff;
}
.country__item--three {
  background-color: #FCF7F7;
}
.country__item--three .country__item-bg {
  color: #745858;
}
.country__item--three .country__img-box {
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 39.6rem;
  height: 26.4rem;
}
.country__item--three .country__img-box:before {
  -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(48, 51, 47, 0.7);
          box-shadow: 4rem 4rem 8rem 1rem rgba(48, 51, 47, 0.7);
}
.country__item--three .country__img {
  width: 55%;
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
}
.country__item-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-weight: 300;
  font-style: italic;
  font-size: 10rem;
  line-height: 10rem;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.country__item-bg > div:first-child {
  position: absolute;
  right: -28rem;
  top: -1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.country__item-bg > div:last-child {
  position: absolute;
  left: 2.5rem;
  top: 11rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.country__item-bg > div:last-child > div:nth-child(2) {
  margin-left: 1rem;
}
.country__item-bg > div:last-child > div:nth-child(3) {
  margin-left: 15rem;
}
.country__item-content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}
.country__img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.country__img-box:before {
  content: "";
  position: absolute;
  right: 20%;
  bottom: 8%;
  z-index: -1;
  display: block;
  width: 60%;
  height: 70%;
  -webkit-box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
          box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
}
.country__img-border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.country__text-block {
  padding: 3.5rem 5rem;
}
.country__item-sub-title {
  margin-bottom: 0.5rem;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.country__item-name {
  font-weight: bold;
  font-size: 2.6rem;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .country {
    margin-bottom: 26rem;
  }
  .country__title {
    width: 65rem;
    margin-bottom: 3rem;
    font-size: 5.6rem;
    text-align: left;
  }
  .country__link-more {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    margin-bottom: 10rem;
  }
  .country__link-more > span {
    font-size: 2.8rem;
  }
  .country__item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: none;
    height: 80rem;
    margin-right: 0;
  }
  .country__item:nth-child(n+2) {
    margin-top: 8rem;
  }
  .country__item--one .country__img-box {
    left: 15rem;
    top: 6rem;
    width: 53.4rem;
    height: 46rem;
  }
  .country__item--two .country__item-bg > div:first-child {
    left: 24rem;
    top: -6rem;
  }
  .country__item--two .country__item-bg > div:last-child {
    right: -75rem;
    top: 11rem;
  }
  .country__item--two .country__item-bg > div:last-child > div:nth-child(2) {
    margin-left: 0;
    margin-right: 15rem;
  }
  .country__item--two .country__item-bg > div:last-child > div:nth-child(3) {
    margin-left: 0;
    margin-right: 55rem;
  }
  .country__item--two .country__img-box {
    left: 23rem;
    top: 12rem;
    width: 43.2rem;
    height: 43.2rem;
  }
  .country__item--three .country__img-box {
    left: 10rem;
    top: 8.5rem;
    width: 65rem;
    height: 43.4rem;
  }
  .country__item-bg {
    font-size: 16rem;
    line-height: 16rem;
  }
  .country__item-bg > div:first-child {
    right: -40rem;
    top: -3rem;
  }
  .country__item-bg > div:last-child {
    left: 4rem;
    top: 15.4rem;
  }
  .country__item-bg > div:last-child > div:nth-child(2) {
    margin-left: 2rem;
  }
  .country__item-bg > div:last-child > div:nth-child(3) {
    margin-left: 25rem;
  }
  .country__text-block {
    padding: 4.4rem 5rem;
  }
  .country__item-sub-title {
    margin-bottom: 1.4rem;
    font-size: 3.2rem;
  }
  .country__item-name {
    font-size: 3.8rem;
  }
}
.recommended {
  margin-bottom: 19rem;
}
.recommended__title {
  font-weight: bold;
  font-size: 5.2rem;
  text-transform: uppercase;
}
.recommended__sub-title {
  margin-bottom: 6rem;
  font-family: "antarcticregular";
  font-size: 5.9rem;
  line-height: 3rem;
  color: #A83248;
}
.recommended__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recommended__item:not(:last-child) {
  margin-bottom: 5rem;
}

@media (max-width: 48em) {
  .recommended {
    margin-bottom: 40rem;
  }
  .recommended__title {
    font-size: 5.6rem;
  }
  .recommended__sub-title {
    margin-bottom: 10rem;
    font-size: 8rem;
    line-height: 6rem;
  }
  .recommended__cards {
    display: block;
  }
  .recommended__cards-horizontal {
    margin-bottom: 14rem;
  }
  .recommended__item:not(:last-child) {
    margin-bottom: 14rem;
  }
}
.prod-intro {
  margin-bottom: 16rem;
  border-top: 1px solid rgba(184, 172, 176, 0.7);
  border-bottom: 1px solid rgba(184, 172, 176, 0.7);
}
.prod-intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0;
}
.prod-intro .prod-intro__pagination-bullet {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.prod-intro .prod-intro__pagination-bullet .swiper-pagination-bullet {
  margin: 0;
}
.prod-intro .prod-intro__pagination-bullet .swiper-pagination-bullet:not(:last-child) {
  margin-bottom: 1rem;
}
.prod-intro__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prod-intro__slider {
  width: 60rem;
  height: 60rem;
  margin-bottom: 3rem;
}
.prod-intro__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prod-intro__slide > img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border: 8rem solid #FCF7F7;
  -o-border-image: url("../../img/img-border1.png") 107 104 95 107 round;
     border-image: url("../../img/img-border1.png") 107 104 95 107 round;
}
.prod-intro__slide--not-border > img {
  border: 4rem solid #FCF7F7;
  -o-border-image: none;
     border-image: none;
}
.prod-intro__audio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prod-intro__audio-icon {
  width: 3.7rem;
  height: 2.8rem;
  margin-right: 3rem;
}
.prod-intro__audio-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.prod-intro__audio-author {
  margin-right: 0.7rem;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.prod-intro__audio-name {
  margin-right: 5rem;
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.prod-intro__audio-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border: 1px solid rgb(199, 189, 192);
}
.prod-intro__audio-play > svg {
  width: 0.9rem;
  height: 1.6rem;
}
.prod-intro__audio-play > svg path {
  fill: #503C3C;
}
.prod-intro__audio-play.play > svg {
  display: none;
}
.prod-intro__audio-play.play:before {
  content: "";
  display: block;
  width: 3px;
  height: 1.6rem;
  margin-right: 0.5rem;
  background-color: #503C3C;
}
.prod-intro__audio-play.play:after {
  content: "";
  display: block;
  width: 3px;
  height: 1.6rem;
  background-color: #503C3C;
}
.prod-intro__slider-nav {
  margin: -6rem 0;
  padding: 6rem 3rem;
  border-right: 1px solid rgba(184, 172, 176, 0.7);
  border-left: 1px solid rgba(184, 172, 176, 0.7);
}
.prod-intro__slider-nav .slider-nav__arrow {
  margin: 3rem 0;
}
.prod-intro__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60rem;
  min-height: 65rem;
}
.prod-intro__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8rem;
}
.prod-intro__title {
  width: 33rem;
  font-weight: bold;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.prod-intro__desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prod-intro__desc-block {
  width: 45%;
}
.prod-intro__desc-block:nth-child(n+3) {
  margin-top: 5rem;
}
.prod-intro__desc-block--auction {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.prod-intro__desc-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.prod-intro__desc-title--auction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A83248;
  text-transform: none;
}
.prod-intro__desc-title--auction > svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
.prod-intro__desc-title--auction > svg path {
  stroke: #A83248;
}
.prod-intro__desc-title--auction > span {
  margin-top: 0.8rem;
}
.prod-intro__desc-text {
  font-family: "Raleway";
  font-size: 1.7rem;
  color: #89767D;
}
.prod-intro__desc-text--title {
  width: 22rem;
}
.prod-intro__desc-text--btn {
  margin-left: 1.8rem;
}
.prod-intro__auction-title {
  font-family: "antarcticregular";
  font-size: 6rem;
  line-height: 3rem;
  color: #A83248;
}
.prod-intro__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prod-intro__button-block:not(:last-child) {
  margin-bottom: 3rem;
}
.prod-intro__button-block--not-like {
  padding-right: 6.8rem;
}
.prod-intro__price-block {
  margin-right: auto;
}
.prod-intro__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "FoglihtenNo06";
  font-size: 4rem;
}
.prod-intro__price:before {
  content: "$";
  margin-right: 0.7rem;
  font-size: 1.9rem;
}
.prod-intro__button {
  margin-right: 3rem;
}

.prod-about {
  margin-bottom: 16rem;
}
.prod-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prod-about__title {
  width: 100%;
  margin-bottom: 6rem;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}
.prod-about__block {
  width: 72rem;
}
.prod-about__block a {
  font-weight: bold;
  text-decoration: underline;
  color: #503C3C;
}
.prod-about__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prod-about__feature:not(:last-child) {
  margin-bottom: 2rem;
}
.prod-about__feature > div:first-child {
  width: 21rem;
  margin-right: 3rem;
}
.prod-about__text--light {
  font-family: "Raleway";
  font-size: 1.7rem;
  line-height: 3.1rem;
  color: #89767D;
}
.prod-about__text--bold {
  margin-top: 0.6rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.prod-about__block-title {
  margin-bottom: 3.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.creator {
  margin-bottom: 16rem;
}
.creator__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.2rem;
  background-color: #FCF7F7;
}
.creator__info-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 97rem;
  padding: 5rem;
  border: 1px solid rgb(184, 172, 176);
}
.creator__title {
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}
.creator__sub-title {
  margin-bottom: 7rem;
  font-family: "antarcticregular";
  font-size: 5rem;
  line-height: 3rem;
  color: #A83248;
}
.creator__author-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.creator__author-img-block {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 3rem;
}
.creator__avatar {
  width: 10.6rem;
  height: 10.6rem;
  margin-bottom: 2.5rem;
  border-radius: 100%;
  overflow: hidden;
}
.creator__avatar > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.creator__rating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.creator__rating-icon {
  width: 2.1rem;
  height: 2.1rem;
  margin-right: 1rem;
}
.creator__rating-icon > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.creator__rating {
  font-family: "Raleway";
  font-size: 1.7rem;
}
.creator__desc {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.creator__desc-title {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
.creator__desc-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.creator__desc-box {
  max-width: 50%;
}
.creator__desc-box:nth-child(odd) {
  margin-right: 2rem;
}
.creator__desc-box:nth-child(even) {
  margin-left: auto;
}
.creator__desc-text {
  font-family: "Raleway";
  font-size: 1.7rem;
  line-height: 3.1rem;
  color: #89767D;
}
.creator__desc-text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.creator__desc-text--name {
  min-width: 18rem;
  margin-right: 2rem;
}
.creator__desc-text--bold {
  margin-top: 0.6rem;
  font-family: "Lovelace";
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  color: #503C3C;
}
.creator__desc-text > img {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
}
.creator__locate {
  margin-top: 6rem;
  font-family: "Raleway";
  font-size: 1.7rem;
  line-height: 3.1rem;
  color: #89767D;
}
.creator__btn-block {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 5rem 8rem 5rem;
  border: 1px solid rgb(184, 172, 176);
  border-left: none;
}
.creator__btn-title {
  margin-bottom: auto;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
}
.creator__btn:not(:last-child) {
  margin-bottom: 3rem;
}

.more-prod {
  margin-bottom: 16rem;
}
.more-prod__title {
  margin-bottom: 5rem;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}
.more-prod__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.more-prod__item:not(:nth-child(4n+4)) {
  margin-right: 4.8rem;
}
.more-prod__item:nth-child(n+5) {
  margin-top: 4.8rem;
}

body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}