@import "param";

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  min-width: 26.6rem;
  height: 7.4rem;
  padding: 0 3.5rem;
  border-radius: 100rem;
  background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%);
  cursor: pointer;

  &--center {
    justify-content: center;
    padding: 0 2.5rem;

    .button__icon {
      margin-left: 1rem;
    }
  }

  &--medium {
    padding: 0 2.5rem 0 4rem;

    .button__icon {
      margin-right: 1rem;
    }
  }

  &--transparent {
    padding: 0 4rem;
    border: 1px solid #7E4852;
    background: transparent;

    .button__price,
    .button__text {
      color: $default-color;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    font-family: $font-fogli;
    font-size: 3.1rem;
    color: $white;

    &:before {
      content: '$';
      margin-right: 0.7rem;
      font-size: 1.9rem;
    }
  }

  &__text {
    margin-top: 0.6rem;
    font-size: 2rem;
    color: $white;
    text-transform: uppercase;
  }

  &__arrow {
    flex: none;
    height: 1rem;

    &--big {
      width: 6.5rem;
    }

    &--medium {
      width: 4.7rem;
    }

    &--small {
      width: 3.6rem;
    }
  }

  &__icon {
    flex: none;
    width: 3rem;
    height: 3rem;
  }
}

.slider-nav {
  user-select: none;

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &--horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pagination-block {
    &--normal {
      display: flex;
      align-items: center;

      .slider-nav__pagination-separator {
        width: 6.3rem;
        margin: 0 2rem;
        background-color: #5F5D5D;
      }

      .swiper-pagination-current,
      .swiper-pagination-total {
        margin-top: 0.8rem;
        font-size: 2.4rem;
        color: white;
      }
    }

    &--diagonal {
      .slider-nav__pagination-separator {
        position: relative;
        top: -0.5rem;
        left: 0.5rem;
        width: 6.5rem;
        background-color: #B8ACB0;
        transform: rotate(-40deg);
      }

      .swiper-pagination-current,
      .slider-nav__current {
        font-size: 2.8rem;
      }

      .swiper-pagination-total,
      .slider-nav__total {
        margin-left: 4.5rem;
        font-size: 2rem;
        color: $default-color-light;
      }
    }

    &--vertical {
      display: flex;
      flex-direction: column;
      align-items: center;

      .slider-nav__pagination-separator {
        width: 4.1rem;
        margin: 1rem 0;
        background-color: #C6BCBF;
      }

      .swiper-pagination-current,
      .slider-nav__current {
        margin-bottom: -0.6rem;
        font-size: 2.2rem;
      }

      .swiper-pagination-total,
      .slider-nav__total {
        font-size: 1.6rem;
        color: $default-color-light;
      }
    }

    &--circle {
      display: flex;
      align-items: center;

      .swiper-pagination-bullet {
        width: 0.8rem;
        height: 0.8rem;
        margin-left: 0 !important;
        border-radius: 100%;
        background-color: $default-color;
        opacity: 0.2;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  &__pagination-separator {
    height: 1px;
  }

  &__arrows {
    display: flex;
    align-items: center;

    &--separator {
      .slider-nav__arrow:first-child {
        margin-right: 0;
      }
    }
  }

  &__arrow {
    width: 6.5rem;
    height: 1rem;
    cursor: pointer;

    &:first-child {
      margin-right: 2rem;
    }

    &--vertical {
      margin: 0;
      width: 1rem;
      height: 6.5rem;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  &__arrow-separator {
    height: 3.4rem;
    width: 1px;
    margin: 0 2rem;
    background-color: #5F5D5D;
  }
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 100%;
  background-color: #C6B5B5;

  &.active {
    background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%),
    linear-gradient(0deg, #A23146, #A23146);

    path {
      fill: $white;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2rem;

    path {
      stroke: $white;
    }
  }
}

.link-more {
  display: flex;
  align-items: center;

  &__text {
    margin-right: 2rem;
    font-family: $font-raleway;
    font-weight: 500;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  &__arrow {
    width: 6.4rem;
    height: 1rem;
  }
}

.preview {
  position: relative;
  width: fit-content;

  &__like {
    position: absolute;
    right: 3rem;
    top: -2rem;
    z-index: 1;
    width: 5.4rem;
    height: 5.4rem;

    > svg {
      width: 2rem;
      height: 1.6rem;
    }
  }

  &__content {
    display: block;
    width: 33rem;
    padding: 2rem 2rem 4rem 2rem;
    background-color: $pale-pink;
  }

  &__img-box {
    width: 100%;
    height: 22.8rem;
    margin-bottom: 2.2rem;
    border-radius: 100rem 100rem 0 0;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 0;
    margin-bottom: 4rem;
    border-top: 1px solid #B8ACB0;
    border-bottom: 1px solid #B8ACB0;
  }

  &__auction-day {
    position: absolute;
    left: 50%;
    top: -5rem;
    transform: translateX(-50%);
    padding: 0.8rem 2rem;
    background-color: $pale-pink;

    white-space: nowrap;
    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;
  }

  &__country {
    display: flex;
    align-items: center;

    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;

    > svg {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.6rem;
    }
  }

  &__category {
    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;
  }

  &__author {
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__price-block {
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.5rem;
    }
  }

  &__price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-fogli;
    font-size: 2.4rem;
    color: $red;

    &:before {
      content: '$';
      margin-right: 0.5rem;
      font-size: 1.4rem;
    }
  }
}

.preview-small {
  position: relative;
  width: fit-content;

  &__like {
    position: absolute;
    right: 2rem;
    top: -3rem;
    z-index: 1;
    width: 5.4rem;
    height: 5.4rem;

    > svg {
      width: 2rem;
      height: 1.6rem;
    }
  }

  &__content {
    display: block;
    width: 25.3rem;
    padding: 2.6rem;
    background-color: $pale-pink;
  }

  &__img-box {
    width: 20.1rem;
    height: 20.1rem;
    margin: 0 auto 3.3rem auto;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__author {
    text-align: center;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;
  }
}

.preview-big {
  position: relative;
  width: fit-content;
  padding: 1rem;
  background-color: $pale-pink;

  &__like {
    position: absolute;
    right: 3rem;
    top: -2rem;
  }

  &__content {
    display: block;
    width: 43.5rem;
    padding: 2rem 2rem 4rem 2rem;
    border: 1px solid #B8ACB0;
    background-color: $pale-pink;
  }

  &__img-box {
    width: 100%;
    height: 24.4rem;
    margin-bottom: 2.2rem;
    border-radius: 100rem 100rem 0 0;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    margin: 0 -2rem 4rem -2rem;
    border-top: 1px solid #B8ACB0;
    border-bottom: 1px solid #B8ACB0;
  }

  &__country {
    display: flex;
    align-items: center;

    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;

    > svg {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.6rem;
    }
  }

  &__category {
    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;
  }

  &__author {
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-fogli;
    font-size: 3.1rem;
    color: $red;

    &:before {
      content: '$';
      margin-right: 0.5rem;
      font-size: 1.9rem;
    }
  }
}

.preview-wide {
  position: relative;
  width: fit-content;

  &--two-btn {
    .preview-wide__like {
      right: 12.2rem;
    }
  }

  &--items-page {
    width: 100%;

    .preview-wide__content {
      width: 100%;
    }

    .preview-wide__info-block {
      margin-left: 5rem;
      margin-right: auto;
    }

    .preview-wide__title {
      text-align: left;
    }

    .preview-wide__data-block {
      justify-content: normal;
      margin-bottom: 3rem;
    }

    .preview-wide__country {
      margin-right: 2rem;
    }

    .preview-wide__price {
      justify-content: normal;
    }
  }

  &__like {
    position: absolute;
    right: 5.6rem;
    top: -2.2rem;
  }

  &__cart {
    position: absolute;
    right: 4.2rem;
    top: -2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 100%;
    background-color: #C6B5B5;

    > svg {
      width: 2.4rem;
      height: 2.6rem;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96rem;
    padding: 3rem;
    background-color: $pale-pink;
  }

  &__picture-block {
    flex: none;
    width: 33.7rem;
  }

  &__image-block {
    display: flex;
    flex-wrap: wrap;
  }

  &__img-box {
    width: 100%;
    height: 24.4rem;
    border-radius: 100rem 100rem 0 0;
    overflow: hidden;

    &:first-child {
      flex: 100%;
    }

    &:nth-child(n + 2) {
      flex: 33.333%;
      min-width: 10.3rem;
      max-width: 10.3rem;
      height: 6rem;
      margin-top: 1.5rem;
      border-radius: 0;
    }

    &:nth-child(3n + 3) {
      margin: 1.5rem auto 0 auto;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__data-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__country {
    display: flex;
    align-items: center;

    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;

    > svg {
      width: 1.7rem;
      height: 1.7rem;
      margin-right: 0.5rem;
    }
  }

  &__category {
    font-family: $font-raleway;
    font-size: 1.6rem;
    color: $default-color-light;
  }

  &__info-block {
    width: 40rem;
    margin-right: 8rem;
  }

  &__author {
    margin-bottom: 2rem;
    text-align: center;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.6rem;
  }

  &__price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: $font-fogli;
    font-size: 3.1rem;
    color: $red;

    &:before {
      content: '$';
      margin-right: 0.5rem;
      font-size: 1.9rem;
    }
  }

  &__arrow {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    width: 6.4rem;
    height: 1rem;
  }
}

@media (max-width: 48em) {
  .button {
    min-width: 44.4rem;
    height: 12.6rem;
    padding: 0 6.6rem;

    &--center {
      padding: 0 5rem;

      .button__icon {
        margin-left: 1rem;
      }
    }

    &--medium {
      padding: 0 2.5rem 0 4rem;

      .button__icon {
        margin-right: 1rem;
      }
    }

    &--transparent {
      padding: 0 4rem;
      border: 1px solid #7E4852;
      background: transparent;

      .button__price,
      .button__text {
        color: $default-color;
      }
    }

    &__content {
      margin-right: 4rem;
    }

    &__price {
      font-size: 5.4rem;

      &:before {
        margin-right: 0.8rem;
        font-size: 3.8rem;
      }
    }

    &__text {
      font-weight: bold;
      margin-top: 1.2rem;
      font-size: 3.2rem;
    }

    &__arrow {
      height: 2rem;

      &--big {
        width: 13rem;
      }

      &--medium {
        width: 4.7rem;
      }

      &--small {
        width: 3.6rem;
      }
    }

    &__icon {
      flex: none;
      width: 5rem;
      height: 5rem;
    }
  }

  .slider-nav {
    &--vertical {
    }

    &--horizontal {
    }

    &__pagination-block {
      &--normal {
        .slider-nav__pagination-separator {
          width: 12rem;
          margin: 0 3rem;
        }

        .swiper-pagination-current,
        .swiper-pagination-total {
          margin-top: 1rem;
          font-size: 3.8rem;
        }
      }

      &--diagonal {
        .slider-nav__pagination-separator {
          position: relative;
          top: -0.5rem;
          left: -1rem;
          width: 12rem;
          transform: rotate(-40deg);
        }

        .swiper-pagination-current,
        .slider-nav__current {
          font-size: 3.8rem;
        }

        .swiper-pagination-total,
        .slider-nav__total {
          margin-left: 6rem;
          font-size: 3.2rem;
        }
      }

      &--vertical {
        .slider-nav__pagination-separator {
          width: 8.2rem;
          margin: 2rem 0;
        }

        .swiper-pagination-current,
        .slider-nav__current {
          margin-bottom: -1.2rem;
          font-size: 3.8rem;
        }

        .swiper-pagination-total,
        .slider-nav__total {
          font-size: 3.2rem;
        }
      }

      &--circle {
        .swiper-pagination-bullet {
          width: 1.6rem;
          height: 1.6rem;

          &:not(:last-child) {
            margin-right: 2.6rem;
          }
        }

        .swiper-pagination-bullet-active {
        }
      }
    }

    &__pagination-separator {
    }

    &__arrows {
    }

    &__arrow {
      width: 9.2rem;
      height: 2rem;

      &:first-child {
        //margin-right: 2rem;
      }

      &--vertical {
        width: 2rem;
        height: 13rem;

        &:first-child {
          margin-right: 0;
        }
      }
    }

    &__arrow-separator {
      height: 6.8rem;
      margin: 0 4rem;
    }
  }

  .like {
    width: 12rem;
    height: 12rem;

    &__icon {
      width: 4.4rem;
      height: 3.6rem;
    }
  }

  .link-more {
    &__text {
      margin-right: 4rem;
      font-size: 3.4rem;
    }

    &__arrow {
      width: 9.2rem;
      height: 2rem;
    }
  }

  .preview-big {
    padding: 1.6rem;

    &__like {
      right: 4.6rem;
      top: -5.6rem;
    }

    &__content {
      width: 100%;
      padding: 3rem 3rem 5rem 3rem;
    }

    &__img-box {
      height: 46rem;
      margin-bottom: 3.4rem;
    }

    &__data-block {
      padding: 1.6rem 3rem;
      margin: 0 -3rem 6rem -3rem;
    }

    &__country {
      font-size: 3.2rem;

      > svg {
        width: 3.4rem;
        height: 3.4rem;
        margin-right: 0.8rem;
      }
    }

    &__category {
      font-size: 3.2rem;
    }

    &__author {
      margin-bottom: 3rem;
      font-size: 3.2rem;
    }

    &__title {
      margin-bottom: 3rem;
      font-size: 3.8rem;
    }

    &__price {
      font-size: 5.4rem;

      &:before {
        margin-right: 1.4rem;
        font-size: 3.8rem;
      }
    }
  }

  .preview-wide {
    &__like {
      right: 4.6rem;
      top: -5.6rem;
    }

    &__content {
      display: block;
      width: 100%;
      padding: 3rem 3rem 5rem 3rem;
    }

    &__picture-block {
      width: 100%;
    }

    &__image-block {
      margin-bottom: 2rem;
    }

    &__img-box {
      height: 46rem;

      &:nth-child(n + 2) {
        min-width: 20rem;
        max-width: 20rem;
        height: 14rem;
        margin-top: 3rem;
      }

      &:nth-child(3n + 3) {
        margin: 3rem auto 0 auto;
      }
    }

    &__data-block {
      padding: 1.6rem 0;
      margin: 0 0 6rem 0;
    }

    &__country {
      font-size: 3.2rem;

      > svg {
        width: 3.4rem;
        height: 3.4rem;
        margin-right: 0.8rem;
      }
    }

    &__category {
      font-size: 3.2rem;
    }

    &__info-block {
      width: 100%;
      margin-right: 0;
    }

    &__author {
      margin-bottom: 3rem;
      font-size: 3.2rem;
    }

    &__title {
      margin-bottom: 3rem;
      font-size: 3.8rem;
    }

    &__price {
      font-size: 5.4rem;

      &:before {
        margin-right: 1.4rem;
        font-size: 3.8rem;
      }
    }
  }
}