@import "param";

.header {
  padding: 2.5rem 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
  }

  &__logo {
    display: block;
    width: 19.1rem;
    height: 4.8rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-item {
    @media (min-width: 48.01em) {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  &__menu-link {
    font-family: $font-raleway;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    > svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__search-mobile {
    display: none;
  }

  &__filters {
    display: none;
  }
}

@media (max-width: 48em) {
  .header {
    padding: 3rem 0;

    &__container {
    }

    &__burger {
      order: 1;
      position: relative;
      display: block;
      width: 6.4rem;
      height: 4.4rem;

      > span {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $default-color;
        opacity: 1;
        transition: 0.2s ease opacity;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $default-color;
        transition: 0.3s ease transform;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $default-color;
        transition: 0.3s ease transform;
      }

      &.active {
        > span {
          opacity: 0;
        }

        &:before {
          transform: translate(0, 2.1rem) rotate(45deg);
        }

        &:after {
          transform: translate(0, -2.1rem) rotate(-45deg);
        }
      }
    }

    &__logo {
      order: 3;
      width: 21.8rem;
      height: 13.4rem;
      margin: 0 5rem;
    }

    &__menu {
      position: fixed;
      left: 0;
      top: 16.4rem;
      z-index: 10;
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 14rem;
      background-color: #EBE6E6;
    }

    &__menu-item {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    &__menu-link {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 6rem;
    }

    &__buttons {
      justify-content: space-between;
      width: 100%;
    }

    &__button {
      &--search {
        order: 2;
      }

      &--personal {
        order: 4;
      }

      &--cart {
        order: 5;
      }

      &:not(:last-child) {
        margin-right: 0;
      }

      > svg {
        width: 5.4rem;
        height: 5.4rem;
      }
    }

    &__filters {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 11;
      width: 100%;
      height: 100%;
      padding: 26rem 4rem;
      background-color: #EBE6E6;
      overflow-y: scroll;
    }

    &__filters-close {
      position: absolute;
      right: 4rem;
      top: 6rem;
      width: 6rem;
      height: 6rem;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        transform: translateY(-50%) rotate(45deg);
        background-color: rgba(80, 60, 60, 1);
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        transform: translateY(-50%) rotate(-45deg);
        background-color: rgba(80, 60, 60, 1);
      }
    }

    &__selects-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10rem;
    }

    &__select-label {
      position: relative;
      display: flex;
      align-items: center;

      > svg {
        width: 4.8rem;
        height: 4.8rem;
        margin-left: 3rem;

        path {
          stroke: $default-color;
        }
      }
    }

    &__select {
      border: none;
      background-color: transparent;
      font-family: $font-raleway;
      font-size: 3.4rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
    }
  }
}