@import "param";

.inbox {
  height: 82.4rem;
  padding: 3rem;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__all-chats {
    width: 32.9rem;
    height: 100%;
  }

  &__title {
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  &__search-label {
    display: flex;
    align-items: center;
    height: 5.4rem;
    padding: 0 2rem;
    margin-bottom: 3.5rem;
    background-color: #EBE6E6;

    > svg {
      flex: none;
      width: 1.9rem;
      height: 1.9rem;
      margin-right: 1rem;

      path {
        fill: #A8969D;
      }
    }
  }

  &__search {
    width: 100%;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 3.1rem;
  }

  &__chat-tabs {
    height: calc(100% - 14rem);
    overflow-Y: scroll;
  }

  &__chat-tab {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.5rem 2rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      background-color: #EBE6E6;
    }

    &.new-msg {
      background-color: #EBE6E6;

      .inbox__user-text-block {
        width: 14.2rem;
      }
    }

    &.active {
      background-color: #996973;

     .inbox__username {
        color: white;
      }

      .inbox__user-desc {
        color: #DCC6CE;
      }
    }
  }

  &__avatar {
    flex: none;
    width: 5.5rem;
    height: 5.5rem;
    margin-right: 2rem;
    border-radius: 100%;
    border: 3px solid white;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-text-block {
    width: 21rem;
  }

  &__username {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.9rem;
  }

  &__user-desc {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    color: $default-color-light;
  }

  &__qty-new-msg {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
    border-radius: 100%;
    background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%),
    linear-gradient(0deg, #A23146, #A23146);

    font-family: $font-raleway;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: white;
  }

  &__chat-box {
    display: flex;
    flex-direction: column;
    width: 66.7rem;
    height: 100%;
    padding: 3rem;
    background-color: #EBE6E6;
  }

  &__user-info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8.7rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 6rem;
    background-color: $pale-pink;
  }

  &__user-info-text {
    width: 41rem;
  }

  &__info-username {
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  &__info-online {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #7FA066;
  }

  &__user-info-desc {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    color: $default-color-light;
  }

  &__user-info-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 2.2rem;
    margin-left: auto;

    > span {
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #E3D8DC;

      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #E3D8DC;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #E3D8DC;
      }
    }
  }

  &__chat {
    width: 100%;
    height: 53rem;
    margin-bottom: 5rem;
    overflow-y: scroll;
  }

  &__chat-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &--right {
      justify-content: flex-end;

      .inbox__chat-info-box {
        order: 2;
        margin: 0 0 0 2rem;
      }
    }
  }

  &__chat-info-box {
    margin-right: 2rem;

    .inbox__avatar {
      margin-right: 0;
    }
  }

  &__chat-time {
    font-family: $font-raleway;
    font-size: 1.5rem;
    line-height: 2.9rem;
    text-align: center;
    color: $default-color-light;
  }

  &__chat-text-box {
    position: relative;
    max-width: 45rem;
    padding: 2rem;
    background-color: white;
  }

  &__chat-name {
    margin-bottom: 0.5rem;
    font-family: $font-raleway;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.9rem;
  }

  &__chat-text {
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: $default-color-light;
  }

  &__info-read {
    position: absolute;
    right: 2rem;
    top: 2rem;

    > svg {
      width: 1.6rem;
      height: 1.3rem;
      margin-left: -1.2rem;

      path {
        stroke: #7FA066;
      }
    }
  }

  &__form-input-msg {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: $pale-pink;
  }

  &__btn-load {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3rem;
    height: 4.3rem;
    margin-right: 1.5rem;
    background-color: #EBE6E6;

    > input {
      display: none;
    }

    > svg {
      width: 1.2rem;
      height: 1.7rem;

      path {
        stroke: #A8969D;
      }
    }
  }

  &__msg-label {
    flex: auto;
  }

  &__msg-input {
    width: 100%;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  &__msg-btn {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.3rem;
    height: 4.3rem;
    margin-left: 1.5rem;
    background: linear-gradient(152.82deg, #9E6F7A 12.88%, #7E4852 105.36%),
    linear-gradient(0deg, #A23146, #A23146);

    > svg {
      width: 1.3rem;
      height: 1.4rem;

      path {
        fill: white;
      }
    }
  }
}

@media (max-width: 48em) {
  .inbox {
    height: 133.6rem;
    padding: 4rem 3rem;
    overflow: hidden;

    &__container {
      position: relative;
      display: block;
    }

    &__all-chats {
      width: 100%;
    }

    &__title {
      margin-bottom: 3rem;
      font-size: 3.2rem;
    }

    &__search-label {
      height: 7rem;
      padding: 0 4rem;
      margin-bottom: 6rem;

      > svg {
        width: 3.8rem;
        height: 3.8rem;
        margin-right: 3rem;
      }
    }

    &__search {
      font-size: 3.2rem;
      line-height: 6.2rem;
    }

    &__chat-tabs {
      height: calc(100% - 20rem);
    }

    &__chat-tab {
      padding: 2rem 3rem;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      &.new-msg {
        .inbox__user-text-block {
          width: 40rem;
        }
      }
    }

    &__avatar {
      width: 11rem;
      height: 11rem;
      margin-right: 4rem;
    }

    &__user-text-block {
      width: 70%;
    }

    &__username {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__user-desc {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__qty-new-msg {
      width: 5rem;
      height: 5rem;
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 2.8rem;
    }

    &__chat-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 5rem 3rem;
      transform: translateX(120%);
      transition: transform 0.3s ease;

      &.active {
        transform: translateX(0);
      }

      .inbox__avatar {
        width: 9.6rem;
        height: 9.6rem;
      }
    }

    &__user-info {
      width: 100%;
      height: 12.2rem;
      padding: 2rem 3rem;
      margin-bottom: 10rem;
    }

    &__user-info-text {
      width: 38rem;
      margin-left: -1rem;
      margin-top: 1rem;
    }

    &__info-username {
      font-size: 3.2rem;
      line-height: 3.6rem;
    }

    &__info-online {
    }

    &__user-info-desc {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__user-info-btn {
      flex: none;
      width: 2rem;
      height: 3.4rem;

      > span {
        width: 3px;
        height: 3px;

        &:before {
          width: 3px;
          height: 3px;
        }

        &:after {
          width: 3px;
          height: 3px;
        }
      }
    }

    &__chat {
      width: 100%;
      height: 100%;
    }

    &__chat-item {
      &:not(:last-child) {
        margin-bottom: 6rem;
      }

      &--right {
        justify-content: flex-end;

        .inbox__chat-info-box {
          order: 2;
          margin: 0 0 0 6rem;
        }
      }
    }

    &__chat-info-box {
      margin-right: 6rem;

      .inbox__avatar {
        margin-right: 0;
      }
    }

    &__chat-time {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__chat-text-box {
      max-width: 100%;
      height: fit-content;
      padding: 1.5rem 3rem 3rem 3rem;
    }

    &__chat-name {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__chat-text {
      font-size: 3.2rem;
      line-height: 4.2rem;
    }

    &__info-read {
      right: 3rem;
      top: 3rem;

      > svg {
        width: 3.2rem;
        height: 2.6rem;
        margin-left: -2.2rem;
      }
    }

    &__form-input-msg {
      padding: 2.4rem 3rem;
    }

    &__btn-load {
      width: 5.4rem;
      height: 5.4rem;
      margin-right: 3rem;

      > svg {
        width: 2.2rem;
        height: 2.2rem;
      }
    }

    &__msg-label {
    }

    &__msg-input {
      font-size: 3.2rem;
      line-height: 5.2rem;
    }

    &__msg-btn {
      width: 5.4rem;
      height: 5.4rem;
      margin-left: 2rem;

      > svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}