// $peremenaya: znachenie;

// @mixin name {
//  css here
// }

$font-antarctic: 'antarcticregular';
$font-fogli: 'FoglihtenNo06';
$font-raleway: 'Raleway';

$default-color: #503C3C;
$default-color-light: #89767D;
$white: #fff;
$red: #A83248;
$pale-pink: #FCF7F7;