@import "param";

.personal {
  margin-bottom: 16rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__nav-block {
    width: 33.1rem;
    height: fit-content;
    padding: 1.4rem;
    border-radius: 100rem 100rem 0 0;
    background-color: $pale-pink;
  }

  &__nav-bg {
    width: 100%;
    padding-top: 3.5rem;
    border-radius: 100rem 100rem 0 0;
    border: 1px solid rgba(218, 209, 211, 1);
  }

  &__img-box {
    width: 7rem;
    height: 7rem;
    margin: 0 auto 2rem auto;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    padding: 4.5rem 1.5rem;
    border-top: 1px solid rgba(218, 209, 211, 1);
    border-bottom: 1px solid rgba(218, 209, 211, 1);
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    > a {
      display: flex;
      align-items: center;
      font-family: $font-raleway;
      font-size: 1.7rem;
      line-height: 2.9rem;
      color: $default-color-light;
    }

    &:hover {
      > a {
        color: $default-color;
      }
    }

    &.active {
      > a {
        font-weight: 600;
        color: $default-color;
      }

      .personal__item-icon {
        .active {
          display: block;
        }

        .transparent {
          display: none;
        }
      }
    }
  }

  &__item-icon {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .active {
      display: none;
    }
  }

  &__question-block {
    display: block;
    padding: 1.5rem;
  }

  &__ask-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    color: $default-color-light;

    &--bold {
      font-family: 'Lovelace';
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 2.4rem;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: $default-color;

      > span {
        display: block;
        margin-top: 0.4rem;
      }

      > svg {
        width: 3.8rem;
        height: 1rem;

        path {
          fill: $default-color;
        }
      }
    }
  }

  &__content {
    width: 109rem;
    margin-top: 2rem;

    &--address {
      .form-info__btn {
        margin-top: 9rem;
      }

      .form__row {
        margin-bottom: 5rem;
      }
    }
  }

  &__title {
    margin-bottom: 6rem;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;

    &--tabs {
      margin-bottom: 3.5rem;
    }
  }

  &__tabs {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__tab {
    border-bottom: 1px solid transparent;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    color: $default-color-light;
    cursor: pointer;

    &:hover {
      color: $default-color;
    }

    &:not(:last-child) {
      margin-right: 5rem;
    }

    &.active {
      border-bottom: 1px solid rgba(162, 49, 70, 1);
      color: $default-color;
    }

    > label {
      display: block;
      cursor: pointer;
    }
  }

  &__tab-content {
    display: none;

    > *:not(:last-child) {
      margin-bottom: 5rem;
    }

    > input {
      display: none;
    }

    &.active {
      display: block;
    }
  }

  &__block {
    padding: 6rem 5rem 7rem 5rem;
    background-color: $pale-pink;

    .form__row {
      margin-bottom: 4rem;
    }

    .form__content:not(:last-child) {
      margin-bottom: 10rem;
    }

    .form__item {
      position: relative;
    }
  }

  &__block-title {
    margin-bottom: 5rem;
    font-weight: bold;
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  &__input-edit-btn {
    position: absolute;
    bottom: 1.1rem;
    right: 2.8rem;
    font-family: $font-raleway;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3.1rem;
    text-transform: uppercase;
  }

  &__update-btn {
    display: none;
  }
}

@media (max-width: 48em) {
  .personal {
    margin-bottom: 20rem;
    margin-top: 10rem;

    &__container {
      display: block;
    }

    &__nav-block {
      width: 100%;
      padding: 3rem;
    }

    &__nav-bg {
      width: 100%;
      padding-top: 8rem;
    }

    &__img-box {
      width: 19rem;
      height: 19rem;
      margin: 0 auto 8rem auto;
    }

    &__name {
      margin-bottom: 8rem;
      font-size: 3.2rem;
    }

    &__list {
      display: flex;
      padding: 0 2rem;
      margin-bottom: 10rem;
      border: none;
      overflow-x: scroll;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        height: 0;
      }
    }

    &__list-item {
      flex: none;
      position: relative;
      width: 20rem;

      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 2rem;
      }

      > a {
        display: block;
        font-size: 3.2rem;
        line-height: 4.2rem;
      }

      &.active {
        > a {
          font-weight: 700;
        }
      }
    }

    &__item-icon {
      width: 5.6rem;
      height: 5.6rem;
      margin-right: 0;
      margin-bottom: 4rem;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 2.8rem;
        width: 13rem;
        height: 1px;
        background-color: #EBE6E6;
      }
    }

    &__question-block {
      padding: 1rem 3rem;
      margin: 0 3rem 8rem 3rem;
      border: 1px solid #EBE6E6;
    }

    &__ask-text {
      font-size: 3.2rem;
      line-height: 5.8rem;

      &--bold {
        font-size: 3.2rem;
        line-height: 4.4rem;

        > svg {
          width: 8rem;
          height: 2rem;
        }
      }
    }

    &__content {
      width: 100%;
      margin-top: 10rem;

      &--address {
        .form-info__btn {
          //margin-top: 9rem;
        }

        .form__row {
          //margin-bottom: 5rem;
        }
      }
    }

    &__title {
      margin-bottom: 8rem;
      font-size: 5.6rem;

      &--tabs {
        //margin-bottom: 3.5rem;
      }
    }

    &__tabs {
      //display: flex;
      //align-items: center;
      //margin-bottom: 5rem;
    }

    &__tab {
      //border-bottom: 1px solid transparent;
      //font-family: $font-raleway;
      //font-size: 1.7rem;
      //line-height: 2.9rem;
      //color: $default-color-light;
      //cursor: pointer;
      //
      //&:hover {
      //  color: $default-color;
      //}
      //
      //&:not(:last-child) {
      //  margin-right: 5rem;
      //}
      //
      //&.active {
      //  border-bottom: 1px solid rgba(162, 49, 70, 1);
      //  color: $default-color;
      //}
      //
      //> label {
      //  display: block;
      //  cursor: pointer;
      //}
    }

    &__tab-content {
      //display: none;
      //
      //> *:not(:last-child) {
      //  margin-bottom: 5rem;
      //}
      //
      //> input {
      //  display: none;
      //}
      //
      //&.active {
      //  display: block;
      //}
    }

    &__block {
      padding: 10rem 3rem;

      .form__row {
        margin-bottom: 10rem;
      }

      .form__content:not(:last-child) {
        margin-bottom: 20rem;
      }
    }

    &__block-title {
      margin-bottom: 7rem;
      font-size: 5.6rem;
    }

    &__input-edit-btn {
      position: absolute;
      bottom: 2.4rem;
      right: 3rem;
      font-size: 3.2rem;
      line-height: 6.2rem;
    }

    &__update-btn {
    }
  }
}