@import "set";
@import "components";
@import "header";

@import "modal/modal-music";

@import "main/main-intro";
@import "main/popular";
@import "main/category-paint";
@import "main/country";
@import "main/recommended";

@import "product/prod-intro";
@import "product/prod-about";
@import "product/creator";
@import "product/more-prod";

@import "catalog/catalog-intro";
@import "catalog/category";
@import "catalog/filter";
@import "catalog/catalog";
@import "catalog/music-intro";
@import "catalog/music-catalog";

@import "add-painting/add-paint";
@import "add-painting/form";
@import "add-painting/form-music";

@import "feedback";

@import "creators/creators-intro";
@import "creators/top-creators";
@import "creators/creators";

@import "cart";
@import "checkout";

@import "form-info";
@import "personal";
@import "payment-info";
@import "inbox";
@import "my-items";
@import "search";




body.lock {
  overflow: hidden;
}

main,
header {
  transition: filter 0.25s ease;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}