@import "../param";

.creators {
  position: relative;
  margin-bottom: 15rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36rem;
    z-index: -1;
    display: block;
    width: 100%;
    height: calc(100% + 51rem);
    border-radius: 7rem 7rem 0 0;
    background-color: #343131;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -36rem;
    z-index: -1;
    display: block;
    width: 100%;
    height: calc(100% + 51rem);
    border-radius: 7rem 7rem 0 0;
    background-image: url("../img/creators-bg-patern.png");
    background-repeat: repeat;
    mix-blend-mode: overlay;
    opacity: 0.2;
  }

  &__title {
    margin-bottom: 6rem;
    font-weight: bold;
    font-size: 5.2rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: 1px solid rgba(95, 93, 93, 1);
    border-bottom: 1px solid rgba(95, 93, 93, 1);
  }

  &__filter-box {
    cursor: pointer;

    &:first-child,
    &:last-child {
      .creators__filter-item {
        padding: 0;
      }
    }
  }

  &__filter-item {
    font-family: $font-raleway;
    font-size: 1.7rem;
    padding: 0 1.5rem;
    color: white;

    &:hover {
      color: #a8a8a8;
    }
  }

  &__content {
  }

  &__block {
    margin-top: 12rem;
  }

  &__block-name {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 5.2rem;
    text-transform: uppercase;
    color: white;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 30%;

    > a {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &:hover {}

    &:not(:nth-child(3n)) {
      margin-right: 3rem;
    }

    &:nth-child(n + 4) {
      margin-top: 4rem;
    }
  }

  &__img-box {
    flex: none;
    width: 10rem;
    height: 10rem;
    margin-right: 2.5rem;
    border-radius: 100%;
    border: 3px solid #5F5D5D;
    overflow: hidden;
  }

  &__name {
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    color: white;
  }

  &__more-btn {}
}

@media (max-width: 48em) {
  .creators {
    &:before {
      top: -46rem;
      height: calc(100% + 61rem);
      border-radius: 4rem 4rem 0 0;
    }

    &__title {
      margin-bottom: 6rem;
      font-size: 5.6rem;
    }

    &__filter {
      padding: 2rem 0;
    }

    &__filter-item {
      font-size: 3.2rem;
      padding: 0 1.5rem;
    }

    &__content {
    }

    &__block {
      margin-top: 12rem;
    }

    &__block-name {
      margin-bottom: 6rem;
      font-size: 5.6rem;
    }

    &__list {
      &.open {
        .creators__item {
          display: block;
        }
      }
    }

    &__item {
      flex: none;
      display: none;
      width: 25%;

      > a {
        flex-direction: column;
      }

      &:hover {}

      &:not(:nth-child(3n)) {
        margin-right: 0;
      }

      &:nth-child(n + 4) {
        margin-top: 0;
      }

      &:nth-child(n + 5) {
        margin-top: 6rem;
      }

      &:nth-child(-n + 4) {
        display: block;
      }
    }

    &__img-box {
      width: 15.4rem;
      height: 15.4rem;
      margin-right: 0;
      margin-bottom: 5rem;
    }

    &__name {
      font-size: 3.2rem;
      line-height: 4.5rem;
      text-align: center;
    }

    &__more-btn {
      display: flex;
      align-items: center;
      width: fit-content;
      margin-left: auto;
      margin-top: 8rem;
      font-family: $font-raleway;
      font-weight: 500;
      font-size: 3.2rem;
      text-transform: uppercase;
      color: white;

      > svg {
        width: 13rem;
        height: 2rem;
        margin-left: 5rem;

        path {
          fill: white;
        }
      }
    }
  }
}