@import "../param";

.music-catalog {
  margin-bottom: 13rem;

  &--title {
    margin-bottom: 5rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid rgba(184, 172, 176, 0.7);
  }

  &__title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 5.2rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__upload {
    margin: 0 auto;
  }

  &__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }

  &__category-block {
  }

  &__category {
    font-weight: bold;
    font-size: 4rem;
    line-height: 5.6rem;
    text-transform: uppercase;
  }

  &__category-text {
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    color: $default-color-light;
  }

  &__more-link {
  }

  &__slider {
    padding-top: 3rem;
    margin-bottom: 6rem;
  }

  &__slide {
  }

  &__slider-nav {
    .swiper-pagination-current,
    .swiper-pagination-total {
      color: $default-color;
    }
  }
}

@media (max-width: 48em) {
  .music-catalog {
    margin-bottom: 20rem;

    &--title {
      margin-bottom: 20rem;
      padding: 0 4rem;
      border-bottom: none;
    }

    &__title {
      margin-bottom: 8rem;
      font-size: 5.6rem;
      text-align: left;
    }

    &__upload {
      width: 100%;
      height: 14.8rem;
    }

    &__title-block {
      margin-bottom: 10rem;
    }

    &__category-block {
    }

    &__category {
      font-size: 5.6rem;
      line-height: 7.8rem;
    }

    &__category-text {
      font-size: 3.2rem;
      line-height: 5.8rem;
    }

    &__more-link {
      flex: none;
      flex-direction: column;
      align-items: flex-end;

      .link-more__text {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }

    &__slider {
      padding-top: 0;
      margin-bottom: 10rem;
    }

    &__slide {
    }

    &__slider-nav {
    }
  }
}