@import "../param";

.music-intro {
  margin-bottom: 16rem;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    &--first {
      align-self: flex-end;
      width: 25.4rem;

      .music-intro__img-box {
        width: 100%;
        height: 30.1rem;
        padding: 1.3rem;
        border: 1px solid rgba(199, 189, 192, 1);
      }
    }

    &--center {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 58rem;

      .music-intro__img-box {
        position: relative;
        width: 48.5rem;
        height: 59.7rem;
        margin-top: -5.5rem;
        margin-bottom: 5rem;

        > img {
          border-radius: 100rem 100rem 0 0;
        }

        &:before {
          content: '';
          position: absolute;
          left: 2.5rem;
          top: 2.5rem;
          z-index: -1;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 100rem 100rem 0 0;
          border: 1px solid rgba(199, 189, 192, 1);
        }
      }
    }

    &--last {
      width: 25.4rem;
      padding-top: 3rem;

      .music-intro__img-box {
        width: 100%;
        height: 30.1rem;
        margin-bottom: 9rem;
        padding: 1.3rem;
        border: 1px solid rgba(199, 189, 192, 1);
      }
    }
  }

  &__title-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100rem 100rem 0 0;
    overflow: hidden;

    > span {
      position: absolute;
      left: -4.6rem;
      top: -3.3rem;
      display: block;
      width: 58rem;
      font-weight: bold;
      font-size: 5.2rem;
      line-height: 8.8rem;
      text-transform: uppercase;
      color: white;
    }
  }

  &__sign-in-block {
  }

  &__sign-in-sub-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;

    > svg {
      width: 2rem;
      height: 2.3rem;
      margin-right: 1.3rem;

      path {
        stroke: $default-color-light;
      }
    }
  }

  &__sign-in-title {
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.8rem;
    text-transform: uppercase;
  }

  &__sign-in-link {
    margin-bottom: 18rem;
  }

  &__img-box {
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 8.8rem;
    text-transform: uppercase;
  }

  &__text {
    position: relative;
    width: 25.2rem;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 2.9rem;
    text-align: center;
    color: $default-color-light;

    > svg {
      path {
        fill: #895560;
      }

      &:first-child {
        position: absolute;
        left: -8rem;
        top: 0;
        width: 1.6rem;
        height: 1.6rem;
      }

      &:last-child {
        position: absolute;
        right: -7rem;
        bottom: 0;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__sub-title {
    margin-bottom: 7rem;
    font-family: $font-antarctic;
    font-size: 6rem;
    line-height: 4rem;
    text-align: center;
    color: $red;
  }

  &__audio-icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #C6B5B5;

    > img {
      width: 30%;
      height: 30%;
      object-fit: contain;
    }
  }
}

@media (max-width: 48em) {
  .music-intro {
    margin-bottom: 10rem;
    margin-top: 6rem;

    &__container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8rem;
    }

    &__content {
      &--first {
      }

      &--center {
        width: 55rem;

        .music-intro__img-box {
          width: 100%;
          height: 50rem;
          margin: -8.4rem 0 11rem 0;

          > img {
            border-radius: 100rem 100rem 0 0;
          }

          &:before {
            left: 1rem;
            top: 1rem;
          }
        }
      }

      &--last {
        width: 15.2rem;
        padding-top: 11.2rem;

        .music-intro__img-box {
          height: 18.1rem;
          margin-bottom: 4rem;
          padding: 0.8rem;

          &:nth-child(3) {
            margin-bottom: 10rem;
          }
        }
      }
    }

    &__title-white {
      > span {
        left: 0;
        top: -2px;
        width: auto;
        white-space: nowrap;
        font-size: 5.6rem;
        line-height: 8.8rem;
      }
    }

    &__sign-in-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__sign-in-sub-title {
      width: 100%;
      margin-bottom: 3rem;
      font-size: 3.2rem;

      > svg {
        width: 4rem;
        height: 4.6rem;
        margin-right: 2.8rem;
      }
    }

    &__sign-in-title {
      width: 40rem;
      margin-bottom: 0;
      font-size: 3.2rem;
      line-height: 5.6rem;
    }

    &__sign-in-link {
      margin-bottom: 0;
    }

    &__img-box {
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      align-self: normal;
      font-size: 5.6rem;
      line-height: 8.8rem;
      white-space: nowrap;
    }

    &__text {
      width: 100%;
      padding: 0 5.8rem 0 2.6rem;
      font-size: 3.2rem;
      line-height: 4.2rem;

      > svg {
        &:first-child {
          left: 0;
          top: 0;
          width: 1.4rem;
          height: 1.4rem;
        }

        &:last-child {
          right: 0;
          bottom: 0;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    &__sub-title {
    }

    &__audio-icon-block {
      width: 8.4rem;
      height: 8.4rem;
    }
  }
}