@import "../param";

.creator {
  margin-bottom: 16rem;

  &__bg {
    display: flex;
    justify-content: space-between;
    padding: 2.2rem;
    background-color: $pale-pink;
  }

  &__info-block {
    flex: none;
    width: 97rem;
    padding: 5rem;
    border: 1px solid rgba(184, 172, 176, 1);
  }

  &__title {
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__sub-title {
    margin-bottom: 7rem;
    font-family: $font-antarctic;
    font-size: 5rem;
    line-height: 3rem;
    color: $red;
  }

  &__author-block {
    width: 100%;
    display: flex;
  }

  &__author-img-block {
    flex: none;
    margin-right: 3rem;
  }

  &__avatar {
    width: 10.6rem;
    height: 10.6rem;
    margin-bottom: 2.5rem;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__rating-icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 1rem;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__rating {
    font-family: $font-raleway;
    font-size: 1.7rem;
  }

  &__desc {
    flex: auto;
  }

  &__desc-title {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__desc-content {
    display: flex;
  }

  &__desc-box {
    max-width: 50%;

    &:nth-child(odd) {
      margin-right: 2rem;
    }

    &:nth-child(even) {
      margin-left: auto;
    }
  }

  &__desc-text {
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 3.1rem;
    color: $default-color-light;

    &--flex {
      display: flex;
    }

    &--name {
      min-width: 18rem;
      margin-right: 2rem;
    }

    &--bold {
      margin-top: 0.6rem;
      font-family: 'Lovelace';
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.5rem;
      text-transform: uppercase;
      color: $default-color;
    }

    > img {
      display: inline-block;
      width: 2.1rem;
      height: 2.1rem;
    }
  }

  &__locate {
    margin-top: 6rem;
    font-family: $font-raleway;
    font-size: 1.7rem;
    line-height: 3.1rem;
    color: $default-color-light;
  }

  &__btn-block {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 8rem 5rem;
    border: 1px solid rgba(184, 172, 176, 1);
    border-left: none;
  }

  &__btn-title {
    margin-bottom: auto;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  &__btn {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 48em) {
  .creator {
    margin-bottom: 26rem;

    &__bg {
      display: block;
      padding: 4.4rem 2.2rem;
    }

    &__info-block {
      width: 100%;
      padding: 6rem 3rem 8rem 3rem;
      border-bottom: none;
    }

    &__title {
      font-size: 5.6rem;
    }

    &__sub-title {
      font-size: 8rem;
      line-height: 6rem;
    }

    &__author-block {
      width: 100%;
      display: block;
    }

    &__author-img-block {
      display: flex;
      align-items: stretch;
      margin-right: 0;
      margin-bottom: 9rem;
    }

    &__avatar {
      width: 13rem;
      height: 13rem;
      margin-bottom: 0;
      margin-right: 4rem;
    }

    &__author-title-block {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__rating-box {
      justify-content: normal;
    }

    &__rating-icon {
      width: 2.6rem;
      height: 2.6rem;
    }

    &__rating {
      font-size: 2.4rem;
    }

    &__desc {
    }

    &__desc-title {
      margin-bottom: 0;
      font-size: 3.2rem;
    }

    &__desc-content {
      display: block;
    }

    &__desc-box {
      max-width: none;

      &:nth-child(odd) {
        margin-right: 0;
      }

      &:nth-child(even) {
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &__desc-text {
      font-size: 3.2rem;
      line-height: 5rem;

      &--flex {
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }

      &--name {
        min-width: 36rem;
      }

      &--bold {
        margin-top: 1rem;
        font-size: 2.4rem;
        line-height: 3.3rem;
      }

      > img {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 2rem;
      }
    }

    &__locate {
      margin-top: 8rem;
      font-size: 3.2rem;
      line-height: 6.2rem;
    }

    &__btn-block {
      align-items: normal;
      padding: 0 3rem 7rem 3rem;
      border: 1px solid rgba(184, 172, 176, 1);
      border-top: none;
    }

    &__btn-title {
      margin-bottom: 8rem;
      font-size: 3.2rem;
    }

    &__btn {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}