@import "../param";

.more-prod {
  margin-bottom: 16rem;

  &__title {
    margin-bottom: 5rem;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:nth-child(4n + 4)) {
      margin-right: 4.8rem;
    }

    &:nth-child(n + 5) {
      margin-top: 4.8rem;
    }
  }
}