@import "../param";

.prod-about {
  margin-bottom: 16rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    width: 100%;
    margin-bottom: 6rem;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
  }

  &__block {
    width: 72rem;

    a {
      font-weight: bold;
      text-decoration: underline;
      color: $default-color;
    }
  }

  &__feature {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    > div:first-child {
      width: 21rem;
      margin-right: 3rem;
    }
  }

  &__text {
    &--light {
      font-family: $font-raleway;
      font-size: 1.7rem;
      line-height: 3.1rem;
      color: $default-color-light;
    }

    &--bold {
      margin-top: 0.6rem;
      font-weight: bold;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  }

  &__block-title {
    margin-bottom: 3.5rem;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

@media (max-width: 48em) {
  .prod-about {
    margin-bottom: 26rem;

    &__container {
    }

    &__title {
      font-size: 5.6rem;
    }

    &__block {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8rem;
      }
    }

    &__feature {
      display: block;

      &:not(:last-child) {
        margin-bottom: 8rem;
      }

      > div:first-child {
        width: 100%;
        margin-right: 0;
      }
    }

    &__text {
      &--light {
        font-size: 3.2rem;
        line-height: 5rem;
      }

      &--bold {
        margin-top: 1.2rem;
        font-size: 3.2rem;
      }
    }

    &__block-title {
      margin-bottom: 8rem;
      font-size: 3.2rem;
    }
  }
}