@import "../param";

.main-intro {
  margin: 5rem 0 10rem 0;

  &__container {
    position: relative;
    display: flex;
  }

  &__title-content {
    flex: none;
    width: 25rem;
    margin-top: 8rem;
    margin-right: 5rem;
  }

  &__title {
    font-weight: bold;
    font-size: 6rem;
    line-height: 9.5rem;
    text-transform: uppercase;
  }

  &__sub-title {
    font-family: $font-antarctic;
    font-size: 6rem;
    line-height: 3rem;
    color: $red;
  }

  &__slider {
    margin-right: -22.5rem;
    padding-bottom: 10rem;
  }

  &__slide {
    display: flex;
    align-items: flex-end;
    transition: transform 0.3s ease;

    @media (min-width: 48.01em) {
      &.swiper-slide-next,
      &.swiper-slide-next + * {
        transform: scale(0.7) translateX(-15rem);
      }
    }
  }

  &__img-box {
    position: relative;
    margin: auto 5rem auto 0;

    &:before {
      content: '';
      position: absolute;
      right: 5%;
      bottom: 5%;
      z-index: -1;
      display: block;
      width: 80%;
      height: 80%;
      box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
    }

    &:after {
      content: '';
      position: absolute;
      left: 10rem;
      top: 10rem;
      z-index: 1;
      display: block;
      width: calc(100% - 20rem);
      height: calc(100% - 20rem);
      box-shadow: 0 0 2rem 3px rgba(34, 60, 80, 0.3) inset;
    }
  }

  &__img {
    max-width: 70rem;
    max-height: 65rem;
    border: 10rem solid $pale-pink;
    border-image: url("../../img/img-border1.png") 107 104 95 107 round;
  }

  &__slide-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 8rem 0;
  }

  &__info-content {
    width: 32rem;
  }

  &__slide-title {
    font-weight: bold;
    font-size: 2.6rem;
  }

  &__slide-desc {
    margin-bottom: 2rem;
    font-family: $font-raleway;
    font-size: 1.7rem;
    color: $default-color-light;
  }

  &__slide-nav {
  }

  &__pagination-fraction {
  }

  .main-intro__pagination-bullet {
    position: absolute;
    left: 0;
    bottom: 18rem;
  }
}

@media (max-width: 48em) {
  .main-intro {
    margin: 6rem 0 26rem 0;

    &__container {
      display: block;
    }

    &__title-content {
      width: 100%;
      margin-bottom: 4rem;
      text-align: center;
    }

    &__title {
      font-size: 5.6rem;
      line-height: 7.8rem;
    }

    &__sub-title {
      font-size: 8rem;
      line-height: 6rem;
    }

    &__slider {
      margin: 0 -4rem;
    }

    &__slide {
      display: flex;
      flex-direction: column;
      align-items: normal;
      justify-content: space-between;
      height: auto;
      padding: 0 4rem;
    }

    &__img-box {
      flex: none;
      margin: auto;

      &:before {
        content: '';
        position: absolute;
        right: 5%;
        bottom: 5%;
        z-index: -1;
        display: block;
        width: 80%;
        height: 80%;
        box-shadow: 4rem 4rem 8rem 1rem rgba(158, 138, 142, 0.7);
      }

      &--horizontal {
        width: 100%;
        height: 64.4rem;
      }

      &--vertical {
        width: 100%;
        height: 85rem;
      }
    }

    &__img-border {
    }

    &__img {
    }

    &__slide-info {
      display: block;
      height: fit-content;
      margin-top: 6rem;
      padding: 0;
    }

    &__info-content {
      width: 100%;
      text-align: center;
    }

    &__slide-title {
      font-size: 3.8rem;
    }

    &__slide-desc {
      margin-bottom: 4rem;
      font-size: 3.2rem;
    }

    &__button {
      margin: 0 auto;
    }

    &__slide-nav {
    }

    &__pagination-fraction {
    }

    .main-intro__pagination-bullet {
      position: static;
      width: fit-content;
    }
  }
}