@import "../param";

.recommended {
  margin-bottom: 19rem;

  &__title {
    font-weight: bold;
    font-size: 5.2rem;
    text-transform: uppercase;
  }

  &__sub-title {
    margin-bottom: 6rem;
    font-family: $font-antarctic;
    font-size: 5.9rem;
    line-height: 3rem;
    color: $red;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__cards-horizontal {
  }

  &__cards-vertical {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }
  }
}

@media (max-width: 48em) {
  .recommended {
    margin-bottom: 40rem;

    &__title {
      font-size: 5.6rem;
    }

    &__sub-title {
      margin-bottom: 10rem;
      font-size: 8rem;
      line-height: 6rem;
    }

    &__cards {
      display: block;
    }

    &__cards-horizontal {
      margin-bottom: 14rem;
    }

    &__cards-vertical {
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 14rem;
      }
    }
  }
}